body {
  background-color: gray;
}

button {
  margin: 5px;
  background-color: #ff6961;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

select {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

.todo-item {
  margin: 10px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

input {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

.todo-text {
  margin: 10px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  display: inline-block;
}
